
<h3>Project 1 title</h3>
<%= link_to "Create new task(forma)", "#" %>
  <ul>
    <li>Project 1 task 1</li>
    <li>Project 1 task 2</li>
    <li>Project 1 task 3</li>
  </ul>

    <h3>Project 2 title</h3>
    <%= link_to "Create new task(forma)", "#" %>
      <ul>
        <li>Project 2 task 1</li>
        <li>Project 2 task 2</li>
        <li>Project 2 task 3</li>
      </ul>
<br>
<br>
<%= link_to "Create new project", "#" %>
<br>
<br>
<h2>Links</h2>
<%= link_to "new project", new_project_path %>
<%= link_to "new task", "#" %>
<%= link_to "All projects", projects_path %>
<%= link_to "All tasks", "#" %>
